.carousel-container {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.carousel {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: space-around;
}

.carousel-item {
  width: 20%;
  height: 100px;
  margin-right: 2%;
  text-align: center;
}

.carousel-item p {
  margin: 10px 0;
}

.carousel-navigation {
  width: 100%;
  bottom: 10px;
}

.carousel-button {
  background-color: #f0b90b; /* Binance Yellow */
  border: 1px solid #f0b90b; /* Binance Yellow */
  color: #fff;
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}

.carousel-button:hover {
  background-color: #fff;
  color: #f0b90b; /* Binance Yellow */
}

.carousel-button.disabled {
  opacity: 0.5;
  cursor: default;
}

@media (max-width: 768px) {
  .carousel-container {
    width: 100%;
  }

  .carousel {
    width: 100%;
  }

  .carousel-item {
    float: none;
    width: 50%;
    margin-right: 0;
  }

  .carousel-navigation {
    display: none;
  }
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
}
